@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?wotc39');
	src:url('../fonts/icomoon.eot?#iefixwotc39') format('embedded-opentype'),
		url('../fonts/icomoon.woff?wotc39') format('woff'),
		url('../fonts/icomoon.ttf?wotc39') format('truetype'),
		url('../fonts/icomoon.svg?wotc39#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-user:before{
	content: "\e600";
}
.icon-addtobasket:before {
	content: "\e601";
}
.icon-addtoemptybasket:before {
	content: "\e602";
}
.icon-barcode:before {
	content: "\e603";
}
.icon-cart:before {
	content: "\e604";
}
.icon-checkout:before {
	content: "\e605";
}
.icon-creditcard:before {
	content: "\e606";
}
.icon-deliverycar:before {
	content: "\e607";
}
.icon-discountlabel:before {
	content: "\e608";
}
.icon-discounttag:before {
	content: "\e609";
}
.icon-dollarlabel:before {
	content: "\e60a";
}
.icon-dollarnotes:before {
	content: "\e60b";
}
.icon-dollartag:before {
	content: "\e60c";
}
.icon-emptybasket:before {
	content: "\e60d";
}
.icon-eurolabel:before {
	content: "\e60e";
}
.icon-euronotes:before {
	content: "\e60f";
}
.icon-eurotag:before {
	content: "\e610";
}
.icon-invoice:before {
	content: "\e611";
}
.icon-magnifier:before {
	content: "\e612";
}
.icon-newbadge:before {
	content: "\e613";
}
.icon-open:before {
	content: "\e614";
}
.icon-parcel:before {
	content: "\e615";
}
.icon-piggybank:before {
	content: "\e616";
}
.icon-removefrombasket:before {
	content: "\e617";
}
.icon-salebadge:before {
	content: "\e618";
}
.icon-saletag:before {
	content: "\e619";
}
.icon-ShoppingBag:before {
	content: "\e61a";
}
.icon-shoppingbasket:before {
	content: "\e61b";
}
.icon-plus-sign:before {
	content: "\e61c";
}
.icon-support:before {
	content: "\e61d";
}
.icon-facebook:before {
	content: "\e61e";
}
.icon-favorite:before {
	content: "\e61f";
}
.icon-update:before {
	content: "\e620";
}
.icon-remove:before {
	content: "\e621";
}
.icon-more:before {
	content: "\e622";
}
