$bg: #fafafa;
$bg-grey: #ededed;
$blured-menu-text: #c2c2c2;
$bg-heading: #e4e4e4;
$main: #0095da;
$success: #0bce0b;
$text-main: #034a7f;
$active: #00fef0;
$text-contrast: #fff;
$navigation-bg: #000;
$highlight: #ff4e00;
$update: #0093d7;
$remove: #fc1200;
$favorite: #fc1200;
$buy: #0bce0b;
$product-btn: #9c9c9c;

$link-color:$main;
$blue: #2c94c5;
$grey:#d7d7d7;
$light-grey:#dddddd;
$placeholder:#434444;
$text-description:#707070;

$table-header-text-color: #FFFFFF;
$table-text-color: #434444;
$table-bg-color: #F2F2F2;
$table-zebra-bg-color: $bg-grey;
$table-collapse-zebra-bg-color: #F4F4F4;
$btn-color: #ffffff;

$btn-color-login: #035a92;
$btn-bg-login: $main;
$btn-bg-update: $update;
$btn-bg-remove: $remove;
$btn-bg-collapse: $buy;
